<div class="container">
    <button onclick="toggleDiv()">Toggle Div</button>
    <div class="content" id="myDiv">
        asdasdasd
      <!-- Your content here -->
    </div>
  </div>

<style>
    .content {
        display: none;
        transition: display 10s ease;
    }

.show {
  display: block;
}
</style>

<script>
   function toggleDiv() {
  var div = document.getElementById("myDiv");
  div.classList.toggle("show");
}
</script>