/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
       -moz-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
       -moz-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
       -moz-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img.bg {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.flex-lc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  background: #fff url("../img/bg.png") no-repeat 0 0/cover;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #ccc;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body.modal-open {
  overflow: hidden;
}

html, body {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

a {
  -webkit-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

a:hover {
  text-decoration: none;
}

.main {
  min-height: 100vh;
}

.house {
  width: 646px;
  height: 437px;
  position: relative;
}

.house::after {
  content: "";
  width: 308px;
  height: 419px;
  background: url("../img/decor.png") no-repeat 0 0/contain;
  position: absolute;
  bottom: 1px;
  right: 0;
  z-index: -1;
}

.house .item {
  position: absolute;
}

.house .roof {
  left: 0;
  top: 0;
}

.house .gutter {
  top: 61px;
  left: -2px;
}

.house .fascia {
  top: 99px;
  left: 21px;
}

.house .under-fascia {
  top: 115px;
  left: 21px;
}

.house .headbox {
  top: 120px;
  left: 63px;
}

.house .wall {
  top: 124px;
  left: 21px;
}

.house .threhold {
  top: 146px;
  left: 47px;
}

.house .guiderail {
  top: 147px;
  left: 74px;
}

.house .curtain {
  top: 146px;
  left: 84px;
}

.house .bottomslat {
  top: 343px;
  left: 84px;
}

.house .shd {
  top: 96px;
  left: -2px;
}

.house .pattern {
  width: 312px;
  height: 202px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
          flex-direction: column-reverse;
  top: 146px;
  left: 84px;
}

.house .pattern div {
  width: 100%;
  height: 9px;
}

.control {
  width: 614px;
  min-height: 560px;
  padding: 40px 32px;
  margin-left: 40px;
  border-radius: 28px;
  position: relative;
}

.control::after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  mix-blend-mode: soft-light;
  -webkit-box-shadow: 0 2px 20px rgba(204, 204, 204, 0.66);
          box-shadow: 0 2px 20px rgba(204, 204, 204, 0.66);
  border-radius: 28px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(9, 1fr);
  grid-gap: 1px;
}

.tab li {
  display: block;
  padding: 0 2px 5px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
}

.tab li:first-child {
  border-radius: 6px 0 0 6px;
}

.tab li:last-child {
  border-radius: 0 6px 6px 0;
}

.tab a {
  color: #005CAF;
}

.tab a > * {
  position: relative;
  z-index: 2;
}

.tab p {
  color: #005CAF;
  font-weight: 700;
  font-size: 9px;
  line-height: 1.223;
}

.tab span {
  display: block;
  color: #7E7E7E;
  font-weight: 500;
  font-size: 7.5px;
}

.tab .active::after {
  content: "";
  background: #0074F2;
  width: -webkit-calc(100% + 2px);
  width: -moz-calc(100% + 2px);
  width: calc(100% + 2px);
  height: -webkit-calc(100% + 4px);
  height: -moz-calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -1px;
}

.tab .active p, .tab .active span {
  color: #fff;
}

.tab .active .icon-roof {
  background: url("../img/roof-active.svg") no-repeat center center;
}

.tab .active .icon-woodland {
  background: url("../img/woodland-active.svg") no-repeat center center;
}

.tab .active .icon-fascia {
  background: url("../img/fascia-active.svg") no-repeat center center;
}

.tab .active .icon-wall {
  background: url("../img/wall-active.svg") no-repeat center center;
}

.tab .active .icon-guiderail {
  background: url("../img/guide-rail-active.svg") no-repeat center center;
}

.tab .active .icon-curtain {
  background: url("../img/curtain-active.svg") no-repeat center center;
}

.tab .active .icon-headbox {
  background: url("../img/headbox-active.svg") no-repeat center center;
}

.tab .active .icon-bottomslat {
  background: url("../img/bottom-slat-active.svg") no-repeat center center;
}

.tab .active .icon-pattern {
  background: url("../img/pattern-active.svg") no-repeat center center;
}

.tab .icon {
  display: block;
  height: 38px;
  margin: 0 auto;
}

.tab .icon-roof {
  width: 37px;
  background: url("../img/roof.svg") no-repeat center center;
}

.tab .icon-fascia {
  width: 34px;
  background: url("../img/fascia.svg") no-repeat center center;
}

.tab .icon-woodland{
  width: 39px;
  background: url("../img/woodland.svg") no-repeat center center;
}

.tab .icon-wall {
  width: 22px;
  background: url("../img/wall.svg") no-repeat center center;
}

.tab .icon-guiderail {
  width: 28px;
  background: url("../img/guide-rail.svg") no-repeat center center;
}

.tab .icon-curtain {
  width: 28px;
  background: url("../img/curtain.svg") no-repeat center center;
}

.tab .icon-headbox {
  width: 30px;
  background: url("../img/headbox.svg") no-repeat center center/contain;
}

.tab .icon-bottomslat {
  width: 30px;
  background: url("../img/bottom-slat.svg") no-repeat center center;
}

.tab .icon-pattern {
  width: 23px;
  background: url("../img/pattern.svg") no-repeat center center;
}

.tab-sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin-bottom: 15px;
}

.tab-sub .active::after {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  left: inherit;
  right: 10px;
  top: 9px;
  z-index: 2;
}

.tab-sub .active span {
  color: #000;
}

.tab-sub li {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.tab-sub a {
  color: #000;
  position: relative;
}

.tab-sub img {
  width: 110px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab-sub .label {
  width: 100%;
  height: 28px;
  border: 1px solid #ccc;
  background: #e7e1c1;
}

.tab-sub span {
  margin-top: 4px;
  font-size: 11px;
  color: #000;
}

.head-box {
  width: 100%;
  height: 33px;
  padding-left: 16px;
  background: url("../img/bg-title.svg") no-repeat 0 0/contain;
  margin: 20px 0 15px;
  font-weight: 700;
  font-size: 12px;
  color: #005CAF;
}

.tab-content {
  min-height: 334px;
  width: 100%;
  padding: 36px 40px;
  background: url("../img/bg-cloor.png") no-repeat 0 0/cover;
}

.tab-content h4 {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.tab-pane .tab-content {
  background: none;
  padding: 0;
}

.list-color {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.list-color li {
  cursor: pointer;
}

.list-color .active .name {
  color: #751616;
}

.list-color .color {
  width: 34px;
  height: 34px;
  display: block;
  margin: 0 auto 4px;
  border-radius: 50%;
}

.list-color .color.white {
  background: #fff;
  border: 1px solid #C8C8C8;
}

.list-color .color.black {
  background: #212121;
}

.list-color .color.scream {
  background: #E6E0C1;
}

.list-color .color.sand {
  background: #CDC1AA;
}

.list-color .color.brown {
  background: #5D392A;
}

.list-color .color.red {
  background: #783E2F;
}

.list-color .color.green {
  background: #005149;
}

.list-color .color.grey {
  background: #BEBDBC;
}

.list-color .color.woodland {
  background: #5D5B56;
}

.list-color .color.deep {
  background: #465060;
}

.list-color .color.jasper {
  background: #7F6D5B;
}

.list-color .color.monument {
  background: #414045;
}

.list-color .color.blue_ridge {
  background: #35434c;
}

.list-color .color.bushland {
  background: #8a8a7f;
}

.list-color .color.cottage_green {
  background: #335244;
}

.list-color .color.dune {
  background: #b7b2ac;
}

.list-color .color.evening_haze {
  background: #c4c0b0;
}

.list-color .color.headland {
  background: #975540;
}

.list-color .color.loft {
  background: #44393d;
}

.list-color .color.manor_red {
  background: #793f30;
}

.list-color .color.pale_eucalypt {
  background: #7a8978;
}

.list-color .color.paperbark {
  background: #cec2aa;
}

.list-color .color.sandbank {
  background: #d1b988;
}

.list-color .color.shale_grey {
  background: #bfbebd;
}

.list-color .color.surfmist {
  background: #e2e3e0;
}

.list-color .color.wilderness {
  background: #65796d;
}

.list-color .color.windspray {
  background: #929899;
}

.list-color .color.woodland_grey {
  background: #5e5c57;
}

.list-color .color.bisque {
  background: #f9ceb2;
}

.list-color .color.beige {
  background: #c88d75;
}

.list-color .color.cream {
  background: #e3debe;
}

.list-color .name {
  display: block;
  font-weight: 700;
  font-size: 10px;
  color: #7E7E7E;
  text-align: center;
}

.list-brick {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.list-brick li {
  cursor: pointer;
  position: relative;
}

.list-brick .active::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  right: 10px;
  top: 9px;
  z-index: 2;
}

.list-brick img {
  width: 110px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

.stripe-num a {
  display: inline-block;
  background: #f2f0e2;
  padding: 0;
  border-radius: 4px;
  width: 12.5%;
  text-align: center;
  margin: 5px 1.333333%;
  cursor: pointer;
}

.stripe-num a.selected {
  background: #f3e296;
}

.stripe-num a.active {
  background: #000;
}

@media (max-width: 1280px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
  }
  .control {
    margin: 30px auto 0;
  }
}

@media (max-width: 646px) {
  .main {
    padding: 24px 0;
  }
  .house {
    width: 99.0712074303vw;
    height: 67.4922600619vw;
  }
  .house::after {
    width: 47.6780185759vw;
    height: 65.0154798762vw;
  }
  .house .roof {
    width: 89.3188854489vw;
  }
  .house .gutter {
    width: 95.3560371517vw;
    top: 9.4427244582vw;
    left: -0.3095975232vw;
  }
  .house .fascia {
    width: 81.2693498452vw;
    top: 15.3250773994vw;
    left: 3.2507739938vw;
  }
  .house .under-fascia {
    width: 80.959752322vw;
    top: 17.8018575851vw;
    left: 3.2507739938vw;
  }
  .house .headbox {
    width: 54.1795665635vw;
    top: 18.5758513932vw;
    left: 9.7523219814vw;
  }
  .house .wall {
    width: 71.9814241486vw;
    top: 19.1950464396vw;
    left: 3.2507739938vw;
  }
  .house .threhold {
    width: 59.5975232198vw;
    top: 22.600619195vw;
    left: 7.2755417957vw;
  }
  .house .guiderail {
    width: 51.3931888545vw;
    top: 22.7554179567vw;
    left: 11.4551083591vw;
  }
  .house .curtain {
    width: 48.2972136223vw;
    top: 22.600619195vw;
    left: 13.0030959752vw;
  }
  .house .bottomslat {
    width: 48.2972136223vw;
    top: 53.0959752322vw;
    left: 13.0030959752vw;
  }
  .house .shd {
    width: 79.1021671827vw;
    top: 14.8606811146vw;
    left: -0.3095975232vw;
  }
  .house .pattern {
    width: 48.2972136223vw;
    height: 31.2693498452vw;
    padding-bottom: 0.773993808vw;
    top: 22.46619195vw;
    left: 13.0030959752vw;
  }
  .house .pattern div {
    height: 1.3931888545vw;
  }
  .control {
    max-width: 100%;
    padding: 20px 15px;
  }
  .box-scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .tab {
    min-width: 514px;
  }
  .tab-sub {
    min-width: 100%;
  }
  .tab-content {
    padding: 40px 15px;
    min-height: auto;
    background-size: 100% 100%;
  }
  .head-box {
    background-size: cover;
  }
}
